<div class="movie-collection" ng-controller="allMoviesCtrl">


  <!--my selections here -->
  <div class="saved-collection">
    <div class="form-group search-my-saved">
      <input class="form-control search-my-saved-input" type="text" ng-model="movie" placeholder="Search Saved Titles" />
      <select class="select-years" ng-model="movieYears">
              <option value>Any Year</option>
                <option ng-repeat="year in years track by $index">{{year}}</option>
            </select>
      <!-- <i class="fa fa-trash-o" aria-hidden="true" ng-hide="trashClicked" ng-click="showRemoveOption()"></i>
          <i class="fa fa-check" ng-show="trashClicked" ng-click="showRemoveOption()" aria-hidden="true"></i> -->
      <!-- <div class="budget-counter" ng-repeat="movie in movieBudget track by $index" ng-model="amount">${{amount - movie.moviePrice}}</div> -->
      <!-- <div>{{amount}}$</div> -->
    </div>
    <div class="movie" ng-repeat="movie in userMovies| filter:{Title:movie} | filter:{Year:movieYears} | filter:{movie: moviePrice}">
      <!-- <div class="movie-info">{{movie.movieTitle}} {{movie.movieDate}} ${{movie.moviePrice}}</div>-->
      <!-- <div class="mouse-test" ng-init="showInfo-false"> -->
        <div class="show-movie-info" ng-mouseover="showInfo = true" ng-mouseleave="showInfo = false">
          <img class="movie-img" ng-src="{{movie.Poster}}">
          <div class="show-info" ng-show="showInfo">{{movie.Title}}
            <div class="movie-description">{{movie.Plot}}</div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <i class="fa fa-trash-o" ng-click="showRemoveOption()"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
       <i class="fa fa-check" ng-show="trashClicked"></i> -->
      <span class="remove-button">
              <a ng-click="removeFilm(movie)"><i class="fa fa-trash-o"></i></a>
      </span>
    </div>
    <p class="if-no-movies" ng-hide="userMovies.length">No movies saved. Click on a title below to save to your collection</p>
  </div>

  <!-- This is the full movie list below-->
  <div class="movies">
    <div class="form-group search-title-all">
      <input class="form-control search-title-all-input" type="text" ng-model="movieName" placeholder="Search Title From Databse" />
    </div>
    <div class="movie" ng-repeat="movie in movies | filter:{Title:movieName} track by $index" ng-click="addToMyMovies(movie)">
      <!-- <div class="movie-info">{{movie.Title}} {{movie.Year}} </div><img class="movie-img" ng-src="{{movie.Poster}}"> -->
      <!-- <div class="mouse-test" ng-init="showInfo-false"> -->
        <div class="show-movie-info" ng-mouseover="showInfo = true" ng-mouseleave="showInfo = false">
          <img class="movie-img" ng-src="{{movie.Poster}}">
          <div class="show-info" ng-show="showInfo">{{movie.Title}}</div>
        </div>
      <!-- </div> -->
    </div>
  </div>

  <div class="form-group search-other-movies">
    <input class="form-control search-other-movies-input" type="text" ng-model="name" placeholder="Find other movies" />
    <button type="button" ng-click="searchMoviesAPI(name)">Search</button>
    <!-- <div class="searched-movie" ng-src="x in getMovieAPI"> -->
    <div class="imdb-movies" ng-click="saveMovie(name)">
      <img class="imdb-poster" ng-src="{{Poster}}" /> {{movieTitle}} {{movieYear}}
    </div>
  </div>
</div>

<div ui-view></div>