<!-- <div class="main-section"> -->
  <section id="home-section-one">
    <h2 class="section-one-p">Remember the films you want to watch</h2>
    <p class="section-one-p-one">Never again forget "which film do I want to watch today?" the next time you decide its popcorn time.</p>
  </section>
  <section id="home-section-two">
    <p class="section-two-p">Instantly save your favorite titles to your profile</p>
  </section>
  <section id="home-section-three">
    <p class="section-three-p">Search through the Cinesaved database* and save titles for future streaming</p>
  </section>
  <div ui-view></div>
<!-- </div> -->